<header>
    <nav class="nav-bar">
        <a class="logo" href="#">
            <img src="../../assets/img/movie_filter-black-36dp.svg"/>
        </a>
        <ul>
            <li>
                <a class="link" href="#">Home</a>
            </li>
            <li>
                <a class="link" href="#">Menu</a>
            </li>
            <li>
                <a class="link" href="#">Menu</a>
            </li>
            <li>
                <a class="link signin" href="#">{{loggedIn(false)}}</a>
            </li>
        </ul>
      </nav>
</header>