<div class="section-container">
    <div class="heading">
        <h2>CAST MEMBERS</h2>
    </div>
    
    <div class="cast-list">
        <div *ngFor="let cast of credits?.cast; let i=index">
            <div  *ngIf="i<9">
                <app-cast-member class="cast-container shadow white" [cast] = "cast"></app-cast-member>
            </div>
        </div>
    </div>
    <div *ngIf="credits?.cast.length > 9" class="button-holder">
        <button [routerLink]="['cast']" routerLinkActive="router-link-active" class="button">SEE FULL CAST MEMBERS</button>
    </div>  
</div>