<div (click)="redirectToDetails()" class="movie-container">
  <app-like-button
    [localId]="localId"
    [favoriteMoviesIds]="favoriteMoviesIds"
    *ngIf="movie && favoriteMoviesIds"
    [movie]="movie"
  ></app-like-button>
  <app-movie-image
    *ngIf="movie?.poster_path"
    [index]="3"
    [image]="movie?.poster_path"
  ></app-movie-image>
  <div *ngIf="!movie?.poster_path" class="container">
    <img src="./assets/img/imagenotfound2.png" />
  </div>
  <h2>{{ movie?.title }}</h2>
  <div class="movie-details">
    <div>Date: {{ movie?.release_date | date: "dd/MM/yyyy" }}</div>
    <div>Average Vote: {{ movie?.vote_average / 10 | percent: "1.2-2" }}</div>
  </div>
  <div class="vote-bar">
    <div
      class="bar-filler"
      [ngStyle]="{ 'width.%': movie.vote_average * 10 }"
    ></div>
  </div>
</div>
